body {
  font-size: 17px;
}

/* HEADING 1 */
h1 {
  font-size: 28px;
  font-weight: bold;
  padding-top: 20px;
}

/* HEADING 2 */
h2 {
  font-size: 24px;
  padding: 0px;
  padding-top: 20px;d
}

/* First h2 in section */
.level1 > .level2:nth-child(3) > h2 {
  padding-top: 0px;
}

/* HEADING 3 */
h3 {
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
}

/* First h3 in section */
.level2 > .level3:nth-child(3) > h3 {
  padding-top: 0px;
}